<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible">
    <title><%= title %></title>
    <link rel="stylesheet" href="/dist/css/swiper.min.css">
    <link rel="stylesheet" href="/dist/css/app.css">
</head>

<body>
    <%- include('includes/header'); %>
    <main id="main">
        <div class="content">
            <!-- ========Home presentation====== -->
            <section id="galaxy-swiper" class="g-swiper-section">
                <%- include('includes/galaxy-home-swiper'); %>
            </section>
            <!-- ========Services====== -->
            <section id="galaxy-services" class="g-services-section">
                <%- include('includes/galaxy-services'); %>
            </section>
            <!-- ========Working order====== -->
            <section id="galaxy-working-order" class="g-working-order-section">
                <%- include('includes/galaxy-working-order'); %>
            </section>
            <!-- ========About you====== -->
            <section id="galaxy-about-you" class="g-about-you-section">
                <%- include('includes/galaxy-about-you'); %>
            </section>
            <!-- ========Join us====== -->
            <section id="join-galaxy" class="g-join-us-section">
                <%- include('includes/join-galaxy'); %>
            </section>
            <!-- ========Partner====== -->
            <section id="galaxy-partner" class="g-partner-section">
                <%- include('includes/galaxy-partner'); %>
            </section>
            <!-- ========A section blocks====== -->
            <section id="galaxy-blocks-secteur" class="g-blocks-secteurs-section">
                <%- include('includes/galaxy-blocks-secteur'); %>
            </section>

        </div>

    </main>
    <footer class="galaxy-site-footer" role="contentinfo">
        <%- include('includes/footer'); %>
    </footer>

</body>
<script src="/dist/commons.js"></script>
<script src="/dist/js/index.js"></script>

</html>